services:
  portainer:
    image: portainer/portainer-ce:2.39.0
    container_name: portainer
    hostname: port
    privileged: true
    entrypoint: /portainer -p :443
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock:ro,z
    restart: unless-stopped
    labels:
      - "coredns.dockerdiscovery.host=port.home"
    dns:
      - 192.168.40.5
    networks:
      app-network:
        ipv4_address: 192.168.40.3

volumes:
  portainer_data:
    external: true

networks:
  app-network:
    external: true
